* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(121, 124, 112);
  font-family: 'Poppins', sans-serif;
}


header {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 30px;
}

header > h1 {
  color:rgb(48, 66, 104);
  line-height: .4;
}

.dot {
  color:tomato;
  font-size: 4rem;
}

#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  height: 100vh;
  width: 100%;
}

#join {
  padding: 50px;
  border: 2px solid rgb(48, 66, 104);
  border-radius: 1rem;
}
.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: column nowrap;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.chat-wrapper {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-flow: row wrap;
}

#sidebar {
  padding: 10px;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 10px;
}

#chat {
  height: 200px;
  overflow: auto;
  min-width: 500px;
  border: 2px solid black;
  border-radius: 1rem;
  margin: 10px;
  overflow: auto;
}

#chatForm {
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  height: 60px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: rgb(48, 66, 104);
}

li {
  list-style-type: none;
}

#message {
  height: 40px;
  flex: 85%;
  margin: 7px;
}

#sendBtn {
  width: 60px;
  height: 40px;
  margin-right: 7px;
}

.sent-message {
  background-color:rgba(255, 255, 255, 0.692);
  margin: 7px;
  padding: 7px;
  border-radius: 1rem;
}

.msgDetails {
  color: grey;
}

button, input {
  border: 2px solid black;
  border-radius: .7rem;
  padding: 7px;
  background-color: rgba(255, 255, 255, 0.692);
  color: tomato;
  font-family: 'Poppins', sans-serif;
}

input::placeholder {
  color: tomato;
}

#room {
  border: none;
  outline: none;
  margin: 10px 0;
  background-color: transparent;
  font-family: 'Poppins', sans-serif;
}